body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul, li {
  padding: 0;
  list-style: none;
}
.items-row {
  margin-bottom: 40px;
}
.result-block {
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #4b5257;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}
.result-block__items {
  flex: 1;
}
.result-block__item {
  margin-bottom: 10px;
}
.form-block {
  margin-bottom: 20px;
  margin-top: 50px;
}
.total-spent {
  text-align: center;
}
.alert {
  border: 1px solid #1d1e1f;
}
.btn-load-tasks {
  margin-bottom: 50px;
}
